

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.my-section {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "main main"
    "event event";
  background-image: url(https://s3.ca-central-1.amazonaws.com/image-web-frankie/Music+show.jpg);
  background-size: cover;
  background-position: center;
}

@media (min-width: 1200px) {
  section {
    grid-template-areas:
      "main event"
      "main event";
  }
}

.leftBox {
  grid-area: main;
  padding: 50px;
  box-sizing: border-box;
}

section .leftBox .content {
  color: #20407f;
  background-color: #fedf46;
  padding: 40px;
  transition: 0.5s;
}

section .leftBox .content:hover {
  background-color: #f1f2f5;
}

section .leftBox .content h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-transform: uppercase;
}

section .leftBox .content p {
  margin: 10px 0 0;
  padding: 0;
}

section .events {
  grid-area: event;
  background-color: #ffffff80;
  box-sizing: border-box;
}

section .events ul {
  margin: 0;
  padding: 40px;
  list-style: none;
}

section .events ul li {
  background-color: #fff;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  grid-template-areas:
    "time time"
    "detail detail";
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  section .events ul li {
    grid-template-areas:
      "time detail"
      "time detail";
  }
}

/* Common styles for all screen sizes */
/* Common styles for all screen sizes */
section .events ul li .time {
  grid-area: time;
  position: relative;
  background-image: url(/images/eventcard.png);
  background-size: contain; /* Make the background image fit within the element */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 50%; /* Maintain aspect ratio, based on width */
  background-position: center; /* Center the background image */
  background-color: transparent; /* Remove any background color */
}

/* Responsive styles for different screen sizes */
@media (max-width: 768px) {
  /* For smaller screens, adjust the padding and image size */
  section .events ul li .time {
    padding: 0; /* Remove the padding on smaller screens */
    height: 200px; /* Set a fixed height to control the size of the image on mobile */
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  /* For medium-sized screens, adjust the padding and image size */
  section .events ul li .time {
    padding: 0; /* Remove the padding on medium-sized screens */
    height: 250px; /* Set a fixed height to control the size of the image on tablets */
  }
}

/* Add more media queries as needed for other screen sizes */


/* Add more media queries as needed for other screen sizes */

section .events ul li .time h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 60px;
  line-height: 30px;
}

section .events ul li .time h2 span {
  font-size: 30px;
}

section .events ul li .details {
  grid-area: detail;
  padding: 20px 20px 32px;
  background-color: #fff;
  box-sizing: border-box;
}

section .events ul li .details h3 {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

section .events ul li .details p {
  margin: 10px 0 0;
  padding: 0;
  font-size: 16px;
}

section .events ul li .details a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid #262626;
  margin-top: 16px;
  font-size: 18px;
  transition: 0.5s;
}

section .events ul li .details a:hover {
  background-color: #fedf46;
  color: #fff;
  border-color: #fedf46;
}